<html>
<head>
<title>潮流网络产品配置</title>
<style type="text/css">
<!--
.l{  font-family: Tahoma; font-size: 10pt; color: #000000; }
a.l:Hover{  font-family: Tahoma; font-size: 10pt; color: #ffffff; }
-->
</style></head>
<body bgcolor="#CCCCCC">
<form action="update" method="post">
<table width="870" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699">
<tr><td valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="48" valign="middle" bgcolor="#F3C47C" class="l" align="center"><strong><font color="#336699" size="3"><b>潮流网络产品配置</b></font></strong></td>
</tr><tr><td height="20" valign="top" background="/backline.gif" bgcolor="#F3C47C" align="center">
<table width="60%" cellpadding="0" cellspacing="0"><tr>
<td bgcolor="#999999" align="center"><a href="index" class="l"><b>状态</b></a></td>
<td bgcolor="#999999" align="center"><a href="config2" class="l"><b>基本设置</b></a></td>
<td bgcolor="#999999" align="center"><a href="config" class="l"><b>高级设置</b></a></td>
<td bgcolor="#999999" align="center"><a href="config_a1" class="l"><b>FXS端口1 </b></a></td>
<td bgcolor="#336699" align="center" class="l"><b>FXS端口2 </b></td>
</tr></table>
            </td>
        </tr>
<!-- <% web_update 0 --> %> 
		<tr bgcolor="#FFFFCC">
		 <td align=center><hr color="#000000" noshade><b><p style="color:#ff0000">配置已修改，请按“生效”以启用新配置。</p></b><hr color="#000000" noshade></td> 
		</tr>
<% web_update 0 <!-- %> -->
        <tr bgcolor="#FFFFCC">
          <td> <table width="100%" border=0 cellspacing=1 cellpadding=2>
              <tr>
                <td align=right><b>帐户开关: </b></td>
                <td>&nbsp; <input type=radio name="P401" value=0 <% 401 0 checked %>>
                  No &nbsp; &nbsp;&nbsp; <input type=radio name="P401" value=1 <% 401 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><b>主SIP服务器: </b></td>
                <td>&nbsp; <input type=text name="P747" value="<% 747                                                                                             %>" maxlength=96 size=30>
                  (例如，sip.mycompany.com,或是IP地址) </td>
              </tr>
              <tr>
                <td align=right><b>次SIP服务器: </b></td>
                <td>&nbsp; <input type=text name="P987" value="<% 987                                                                                             %>" maxlength=96 size=30>
                  (可选项, 仅当主SIP服务器不响应时用) </td>
              </tr>
              <tr>
                <td align=right><b>优先主SIP服务器: </b></td>
                <td>&nbsp;
                 <input type=radio name="P4568" value=0 <% 4568 0 checked %> > No &nbsp;&nbsp; &nbsp;
                 <input type=radio name="P4568" value=1 <% 4568 1 checked %> > Yes &nbsp;&nbsp; &nbsp;
                 ( yes - 次服务器过期后，注册主服务器)
                </td>
              </tr>
              <tr>
                <td align=right><b>呼出代理服务器: </b></td>
                <td>&nbsp; <input type=text name="P748" value="<% 748                                                                                             %>" maxlength=96 size=30>
                  (例如，proxy.myprovider.com,或是IP地址) </td>
              </tr>
              <tr>
                <td align=right><b>SIP传输协议: </b></td>
                <td>&nbsp; <input type=radio name="P830" value=0 <% 830 0 checked %>>
                  UDP &nbsp; &nbsp; &nbsp; <input type=radio name="P830" value=1 <% 830 1 checked %>>
                  TCP &nbsp; &nbsp; &nbsp; <input type=radio name="P830" value=2 <% 830 2 checked %>>
                  TLS &nbsp;&nbsp;(默认UDP)</td>
              </tr>
              <tr>
                <td align=right valign=top><b>NAT穿透: </b></td>
                <td>&nbsp;
                 <input type=radio name="P730" value=0 <% 730 0 checked %> > No &nbsp;&nbsp; &nbsp;
                 <input type=radio name="P730" value=2 <% 730 2 checked %> > 保持发心跳报文 &nbsp;&nbsp;&nbsp;
                 <input type=radio name="P730" value=1 <% 730 1 checked %> > STUN &nbsp;&nbsp;&nbsp;
                 <input type=radio name="P730" value=3 <% 730 3 checked %> > UPnP
                </td>
              </tr>
              <tr>
                <td align=right><b>SIP用户ID: </b></td>
                <td>&nbsp; <input type=text name="P735" value="<% 735                                                           %>" maxlength=64 size=30>
                  (SIP地址的用户部分) </td>
              </tr>
              <tr>
                <td align=right><b>认证ID: </b></td>
                <td>&nbsp; <input type=text name="P736" value="<% 736                                                                                             %>" maxlength=96 size=30>
                  (根据需要，可以和SIP用户ID相同，也可以不同) </td>
              </tr>
              <tr>
                <td align=right><b>认证密码: </b></td>
                <td>&nbsp; <input type=password name="P734" maxlength=64 size=30> (出于安全考虑不显示密码)
                </td>
              </tr>
              <tr>
                <td align=right><b>名字: </b></td>
                <td>&nbsp; <input type=text name="P703" value="<% 703                                                          %>" maxlength=60 size=30>
                  (可选项, 比如：John Doe) </td>
              </tr>
              <tr>
                <td colspan=2>&nbsp;</td>
              </tr>
              <tr>
                <td align=right><i>DNS模式: </i></td>
                <td>&nbsp; <input type=radio name="P702" value=0 <% 702 0 checked %> >
                  A Record &nbsp; &nbsp;&nbsp; <input type=radio name="P702" value=1 <% 702 1 checked %> >
                  SRV &nbsp; &nbsp;&nbsp; <input type=radio name="P702" value=2 <% 702 2 checked %> >
                  NAPTR/SRV </td>
              </tr>
<!--
              <tr>
                <td align=right><i>用户ID设置为电话号码: </i></td>
                <td>&nbsp;&nbsp;<input type=radio name="P763" value=0 <% 763 0 checked %>>
                  No &nbsp;&nbsp; &nbsp;&nbsp;<input type=radio name="P763" value=1 <% 763 1 checked %>>
                  Yes </td>
              </tr>
-->
              <tr>
                <td align=right valign=top><i>Tel URI: </i></td>
                <td>&nbsp;
                    <select name="P763">
                        <option value=0 <% 763 0 selected %>>关闭</option>
                        <option value=1 <% 763 1 selected %>>用户ID为电话号码</option>
                        <option value=2 <% 763 2 selected %>>开启</option>
                    </select>
                </td>
              </tr>

              <tr>
                <td align=right><i>SIP注册: </i></td>
                <td>&nbsp;&nbsp;<input type=radio name="P731" value=0 <% 731 0 checked %>>
                  No &nbsp;&nbsp; &nbsp;&nbsp;<input type=radio name="P731" value=1 <% 731 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>重启后移除上次注册消息: </i></td>
                <td>&nbsp;&nbsp;<input type=radio name="P752" value=0 <% 752 0 checked %>>
                  No &nbsp;&nbsp; &nbsp;&nbsp;<input type=radio name="P752" value=1 <% 752 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>非注册拨打模式: </i></td>
                <td>&nbsp;&nbsp;<input type=radio name="P813" value=0 <% 813 0 checked %>>
                  No &nbsp;&nbsp; &nbsp;&nbsp;<input type=radio name="P813" value=1 <% 813 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>注册有效期: </i></td>
                <td>&nbsp; <input type=text name="P732" value="<% 732 %>" maxlength=5 size=7>
                  (以分钟为单位，默认一小时，最大值为45天)</td>
              </tr>
              <tr>
                <td align=right><i>注册期限内重新注册等待时间: </i></td>
                <td>&nbsp; <input type=text name="P2430" value="<% 2430 %>" maxlength=5 size=7>
                  (以秒为单位. 默认值为0)</td>
              </tr>
              <tr>
                <td align=right><i>重注册等待时间: </i></td>
                <td>&nbsp; <input type=text name="P471" value="<% 471 %>" maxlength=5 size=7>
                  (以秒为单位，默认20秒，最大值为3600秒)</td>
              </tr>
              <tr>
                <td align=right><i>第三层QoS:</i></td>
                <td>
                  &nbsp; <input type=text name="P5047" value="<% 5047  %>" maxlength=2 size=7>
                  SIP DSCP (以十进制表示Diff-Serv值, 默认值为24)<br>
                  &nbsp; <input type=text name="P5051" value="<% 5051  %>" maxlength=2 size=7> 
                  音频 DSCP (以十进制表示Diff-Serv值, 默认值为46)
                </td>
              </tr>
              <tr>
                <td align=right><i>本地SIP端口: </i></td>
                <td>&nbsp; <input type=text name="P740" value="<% 740 %>" maxlength=5 size=7>
                  (默认5062)</td>
              </tr>
              <tr>
                <td align=right><i>本地RTP端口: </i></td>
                <td>&nbsp; <input type=text name="P739" value="<% 739 %>" maxlength=5 size=7>
                  (1024-65535之间的偶数, 默认5012)</td>
              </tr>
              <tr>
                <td align=right valign=top><i>使用随机SIP端口: </i></td>
                <td>&nbsp; <input type=radio name="P20502" value=0 <% 20502 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P20502" value=1 <% 20502 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>使用随机RTP端口: </i></td>
                <td>&nbsp; <input type=radio name="P20506" value=0 <% 20506 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P20506" value=1 <% 20506 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>Refer-To使用目标Contact: </i></td>
                <td>&nbsp; <input type=radio name="P469" value=0 <% 469 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P469" value=1 <% 469 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>会议发起者将通话转移: </i></td>
                <td>&nbsp; <input type=radio name="P4561" value=0 <% 4561 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4561" value=1 <% 4561 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>关闭Bellcore方式三方会议</i></td>
                <td>&nbsp; <input type=radio name="P4831" value=0 <% 4831 0 checked %> >
                  No &nbsp;&nbsp;&nbsp;<input type=radio name="P4831" value=1 <% 4831 1 checked %> >
                  Yes &nbsp;(使用*23编码方式三方会议)
                </td>
            </tr>
              <tr>
                <td align=right valign=top><i>从Route Header移除OBP: </i></td>
                <td>&nbsp; <input type=radio name="P4563" value=0 <% 4563 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4563" value=1 <% 4563 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>支持SIP Instance ID: </i></td>
                <td>&nbsp; <input type=radio name="P489" value=0 <% 489 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P489" value=1 <% 489 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>检验SIP消息: </i></td>
                <td>&nbsp; <input type=radio name="P4341" value=0 <% 4341 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4341" value=1 <% 4341 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>检查来电INVITE的SIP用户ID: </i></td>
                <td>&nbsp; <input type=radio name="P449" value=0 <% 449 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P449" value=1 <% 449 1 checked %> >
                  Yes (没有直接IP呼叫)</td>
              </tr>
              <tr>
                <td align=right valign=top><i>验证来电INVITE: </i></td>
                <td>&nbsp; <input type=radio name="P2446" value=0 <% 2446 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P2446" value=1 <% 2446 1 checked %> >
                  Yes</td>
              </tr>
              <tr>
                <td align=right valign=top><i>只接受从SIP服务器传来的SIP消息: </i></td>
                <td>&nbsp; <input type=radio name="P743" value=0 <% 743 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P743" value=1 <% 743 1 checked %> >
                  Yes (没有直接IP呼叫)</td>
              </tr>
              <tr>
                <td align=right><i>使用 Privacy Header: </i></td>
                <td>&nbsp; <input type=radio name="P2438" value=0 <% 2438 0 checked %> >
                  Default &nbsp;&nbsp;&nbsp; <input type=radio name="P2438" value=1 <% 2438 1 checked %> >
                  No &nbsp;&nbsp;&nbsp; <input type=radio name="P2438" value=2 <% 2438 2 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>使用 P-Preferred-Identity Header: </i></td>
                <td>&nbsp; <input type=radio name="P2439" value=0 <% 2439 0 checked %> >
                  Default &nbsp;&nbsp;&nbsp; <input type=radio name="P2439" value=1 <% 2439 1 checked %> >
                  No &nbsp;&nbsp;&nbsp; <input type=radio name="P2439" value=2 <% 2439 2 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>SIP注册请求中的Contact头域使用: </i></td>
                <td>&nbsp; <input type=radio name="P4438" value=0 <% 4438 0 checked %> >
                  局域网地址 &nbsp;&nbsp; &nbsp; <input type=radio name="P4438" value=1 <% 4438 1 checked %> >
                  广域网地址 </td>
              </tr>
              <tr>
                <td align=right valign=top><i>SIP T1 超时: </i></td>
                <td>&nbsp;
                  <select name="P440">
                    <option value=50 <% 440 50  selected %>>0.5秒</option>
                    <option value=100 <% 440 100  selected %>>1秒</option>
                    <option value=200 <% 440 200  selected %>>2秒</option>
                    <option value=400 <% 440 400  selected %>>4秒</option>
                    <option value=800 <% 440 800  selected %>>8秒</option>
                    </select>
                  </td>
              </tr>
              <tr>
                <td align=right valign=top><i>SIP T2 间隔: </i></td>
                <td>&nbsp;
                  <select name="P441">
                    <option value=200 <% 441 200  selected %>>2秒</option>
                    <option value=400 <% 441 400  selected %>>4秒</option>
                    <option value=800 <% 441 800  selected %>>8秒</option>
                    <option value=1600 <% 441 1600  selected %>>16秒</option>
                    <option value=3200 <% 441 3200  selected %>>32秒</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td align=right><i>SIP Timer D:</i></td>
                <td>&nbsp; <input type=text name="P2487" value="<% 2487 %>"
                   maxlength=3 size=4> &nbsp;&nbsp;(0 - 64 秒. 默认为 0)
                </td>
              </tr>
              <tr>
                <td align=right><i>DTMF有效负荷类型: </i></td>
                <td>&nbsp; <input type=text name="P779" value="<% 779 %>" maxlength=3 size=7>
                </td>
              </tr>
<!--              <tr>
                <td align=right valign=top><i>音频(DTMF): </i></td>
                <td>&nbsp; <input type=radio name="P860" value=0 <% 860 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P860" value=1 <% 860 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>RFC2833(DTMF）: </i></td>
                <td>&nbsp; <input type=radio name="P861" value=0 <% 861 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P861" value=1 <% 861 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>SIP-INFO(DTMF): </i></td>
                <td>&nbsp; <input type=radio name="P862" value=0 <% 862 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P862" value=1 <% 862 1 checked %> >
                  Yes </td>
              </tr>
-->
              <tr>
                <td align=right valign=top><i>优先 DTMF: </i><br>
                  <i>(in listed order)</i></td>
                <td>&nbsp;&nbsp;第 1: &nbsp; <select name="P860" >
                    <option value=100  <% 860 100  selected %>>音频</option>
                    <option value=101  <% 860 101  selected %>>RFC2833</option>
                    <option value=102  <% 860 102  selected %>>SIP INFO</option>
                   </select> <br> &nbsp;&nbsp;第 2: &nbsp; <select name="P861" >
                    <option value=100  <% 861 100  selected %>>音频</option>
                    <option value=101  <% 861 101  selected %>>RFC2833</option>
                    <option value=102  <% 861 102  selected %>>SIP INFO</option>
                   </select> <br> &nbsp;&nbsp;第 3: &nbsp; <select name="P862" >
                    <option value=100  <% 862 100  selected %>>音频</option>
                    <option value=101  <% 862 101  selected %>>RFC2833</option>
                    <option value=102  <% 862 102  selected %>>SIP INFO</option>
                 </select>
              </tr>
              <tr>
                <td align=right><i>关闭DTMF协商</i></td>
                <td>&nbsp; <input type=radio name="P4826" value=0 <% 4826 0 checked %> >
                  No &nbsp;(协商DTMF)<input type=radio name="P4826" value=1 <% 4826 1 checked %> >
                  Yes &nbsp;(使用上述DTMF优先序列,不协商)
                </td>
              </tr>
              <tr>
                <td align=right valign=top><i>产生连续RFC2833事件: </i></td>
                <td>&nbsp; <input type=radio name="P4434" value=0 <% 4434 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4434" value=1 <% 4434 1 checked %> >
                  Yes (产生RFC2833事件直到按键被释放) </td>
              </tr>
              <tr>
                <td align=right><i>发送拍叉(Flash)信号:</i></td>
                <td>&nbsp; <input type=radio name="P774" value=0 <% 774 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P774" value=1 <% 774 1 checked %> >
                  Yes &nbsp; (如果设置为Yes， 拍叉将会作为一个DTMF事件发送)
                </td>
              </tr>
              <tr>
                <td align=right valign=top><i>开启*号呼叫功能: </i></td>
                <td>&nbsp; <input type=radio name="P751" value=0 <% 751 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P751" value=1 <% 751 1 checked %> >
                  Yes (如果设置为Yes，本机使用*号编码功能将被启用) </td>
              </tr>
              <tr>
                <td align=right><i>摘机自动拨号: </i></td>
                <td>&nbsp; <input type=text name="P771" value="<% 771                                                            %>" maxlength=64 size=30>
                  (摘机将自动拨打填写的号码) </td>
              </tr>
              <tr>
                <td align=right><i>摘机自动拨号延迟: </i></td>
                <td>&nbsp; <input type=text name="P4046" value="<% 4046 %>" maxlength=2 size=7>
                  (0-60 秒, 默认为0)</td>
              </tr>
              <tr>
                <td align=right><i>Proxy-Require: </i></td>
                <td>&nbsp; <input type=text name="P792" value="<% 792                                                          %>" maxlength=64 size=30></td>
              </tr>
              <tr>
                <td align=right><i>使用NAT IP:</i></td>
                <td>&nbsp; <input type=text name="P866" value="<% 866          %>" maxlength=16 size=30>
                  (如果是指定，则用在SIP/SDP消息中) </td>
              </tr>
              <tr>
                <td align=right><i>使用 SIP User-Agent Header:</i></td>
                <td>&nbsp; <input type=text name="P4835" value="<% 4835                                                                                                                                                                                                                                                           %>" maxlength=1024 size=60>
                </td>
              </tr>
              <tr>
                <td align=right valign=middle><i>自定义铃声: </i></td>
                <td>&nbsp;
                  <select name="P880" >
                    <option value=0  <% 880 0  selected %>>自定义铃声 1</option>
                    <option value=1  <% 880 1  selected %>>自定义铃声 2</option>
                    <option value=2  <% 880 2  selected %>>自定义铃声 3</option>
                    <option value=3  <% 880 3  selected %>>自定义铃声 4</option>
                    <option value=4  <% 880 4  selected %>>自定义铃声 5</option>
                    <option value=5  <% 880 5  selected %>>自定义铃声 6</option>
                    <option value=6  <% 880 6  selected %>>自定义铃声 7</option>
                    <option value=7  <% 880 7  selected %>>自定义铃声 8</option>
                    <option value=8  <% 880 8  selected %>>自定义铃声 9</option>
                    <option value=9  <% 880 9  selected %>>自定义铃声 10</option>
                  </select> &nbsp; 将被使用在主叫是 <input type=text name="P881" value="<% 881                                                        %>" maxlength=64 size=30><br>
                  &nbsp;
                  <select name="P882" >
                    <option value=0  <% 882 0  selected %>>自定义铃声 1</option>
                    <option value=1  <% 882 1  selected %>>自定义铃声 2</option>
                    <option value=2  <% 882 2  selected %>>自定义铃声 3</option>
                    <option value=3  <% 882 3  selected %>>自定义铃声 4</option>
                    <option value=4  <% 882 4  selected %>>自定义铃声 5</option>
                    <option value=5  <% 882 5  selected %>>自定义铃声 6</option>
                    <option value=6  <% 882 6  selected %>>自定义铃声 7</option>
                    <option value=7  <% 882 7  selected %>>自定义铃声 8</option>
                    <option value=8  <% 882 8  selected %>>自定义铃声 9</option>
                    <option value=9  <% 882 9  selected %>>自定义铃声 10</option>
                  </select> &nbsp; 将被使用在主叫是 <input type=text name="P883" value="<% 883                                                        %>" maxlength=64 size=30><br>
                  &nbsp;
                  <select name="P884" >
                    <option value=0  <% 884 0  selected %>>自定义铃声 1</option>
                    <option value=1  <% 884 1  selected %>>自定义铃声 2</option>
                    <option value=2  <% 884 2  selected %>>自定义铃声 3</option>
                    <option value=3  <% 884 3  selected %>>自定义铃声 4</option>
                    <option value=4  <% 884 4  selected %>>自定义铃声 5</option>
                    <option value=5  <% 884 5  selected %>>自定义铃声 6</option>
                    <option value=6  <% 884 6  selected %>>自定义铃声 7</option>
                    <option value=7  <% 884 7  selected %>>自定义铃声 8</option>
                    <option value=8  <% 884 8  selected %>>自定义铃声 9</option>
                    <option value=9  <% 884 9  selected %>>自定义铃声 10</option>
                  </select> &nbsp; 将被使用在主叫是 <input type=text name="P885" value="<% 885                                                        %>" maxlength=64 size=30><br>
                </td>
              </tr>
              <tr>
                <td align=right valign=top><i>关闭呼叫等待: </i></td>
                <td>&nbsp; <input type=radio name="P791" value=0 <% 791 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P791" value=1 <% 791 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>关闭呼叫等待中显主叫: </i></td>
                <td>&nbsp; <input type=radio name="P823" value=0 <% 823 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P823" value=1 <% 823 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>关闭呼叫等待音: </i></td>
                <td>&nbsp; <input type=radio name="P817" value=0 <% 817 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P817" value=1 <% 817 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>关闭话柄掉机提醒音: </i></td>
                <td>&nbsp; <input type=radio name="P4794" value=0 <% 4794 0 checked %>>
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P4794" value=1 <% 4794 1 checked %>>
                  Yes &nbsp; (没有话柄掉机提醒音) </td>
              </tr>
              <tr>
                <td align=right valign=top><i>关闭On-Hold Call的提醒铃声: </i></td>
                <td>&nbsp; <input type=radio name="P4361" value=0 <% 4361 0 checked %> >
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4361" value=1 <% 4361 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>关闭MWI:</i></td>
                <td>&nbsp; <input type=radio name="P869" value=0 <% 869 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P869" value=1 <% 869 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>SIP URI中的#不替换成%23:</i></td>
                <td>&nbsp; <input type=radio name="P4895" value=0 <% 4895 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4895" value=1 <% 4895 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>强制SDP内只显示一行m line:</i></td>
                <td>&nbsp; <input type=radio name="P487" value=0 <% 487 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P487" value=1 <% 487 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>振铃超时: </i></td>
                <td>&nbsp; <input type=text name="P816" value="<% 816 %>" maxlength=3 size=7>
                  (10-300, 默认是60秒)</td>
              </tr>
              <tr>
                <td align=right><i>延时转移等待时间: </i></td>
                <td>&nbsp; <input type=text name="P470" value="<% 470 %>" maxlength=3 size=7>
                  (允许的范围是1-120秒之间)</td>
              </tr>
              <tr>
                <td align=right><i>拨号超时时间: </i></td>
                <td>&nbsp; <input type=text name="P292" value="<% 292 %>" maxlength=5 size=7>
                  (以秒为单位，默认4秒)</td>
              </tr>
              <tr>
                <td align=right><i>立即发送: </i></td>
                <td>&nbsp; <input type=radio name="P729" value=0 <% 729 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P729" value=1 <% 729 1 checked %>>
                  Yes &nbsp; (仅当代理服务器支持484响应时用Yes )
                </td>
              </tr>
              <tr>
                <td align=right><i>拨号规则前缀: </i></td>
                <td>&nbsp; <input type=text name="P766" value="<% 766                         %>" maxlength=32 size=7>
                  (这个前缀串被加到每个所拨号码的前面)</td>
              </tr>
              <tr>
                <td align=right><i>使用#作为拨号键: </i></td>
                <td>&nbsp; <input type=radio name="P772" value=0 <% 772 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P772" value=1 <% 772 1 checked %>>
                  Yes &nbsp; (如果设置为Yes，#号键将起重拨键的功能)
                </td>
              </tr>
              <tr>
                <td align=right><i>拨号规则 :</i></td>
                <td>&nbsp; <input type=text name="P4201" value="<% 4201                                                                                                                                                                                                                                                           %>" maxlength=1024 size=60>
                </td>
              </tr>
              <tr>
                <td align=right valign=top><i>SUBSCRIBE消息等待提示(MWI): </i></td>
                <td>&nbsp; <input type=radio name="P709" value=0 <% 709 0 checked %> >
                  否，不发送SUBSCRIBE<br>
                  &nbsp; <input type=radio name="P709" value=1 <% 709 1 checked %> >
                  是，发送周期性SUBSCRIBE
                </td>
              </tr>
              <tr>
                <td align=right><i>匿名发送 : </i></td>
                <td>&nbsp; <input type=radio name="P765" value=0 <% 765 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P765" value=1 <% 765 1 checked %> >
                  Yes &nbsp; (如果设置为Yes，用户ID将被屏蔽) </td>
              </tr>
              <tr>
                <td align=right><i>拒绝匿名呼叫: </i></td>
                <td>&nbsp; <input type=radio name="P446" value=0 <% 446 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P446" value=1 <% 446 1 checked %> >
                  Yes &nbsp; </td>
              </tr>
              <tr>
                  <td align=right valign=top><i>特定功能: </i></td>
                <td>&nbsp;
                    <select name="P767">
                        <option value=100 <% 767 100 selected %>>Standard</option>
                        <option value=102 <% 767 102 selected %>>BroadSoft</option>
                        <option value=108 <% 767 108 selected %>>CBCOM</option>
                        <option value=109 <% 767 109 selected %>>RNK</option>
                        <option value=111 <% 767 111 selected %>>Huawei</option>
                        <option value=113 <% 767 113 selected %>>China Mobile</option>
                        <option value=114 <% 767 114 selected %>>ZTE IMS</option>
                        <option value=119 <% 767 119 selected %>>PhonePower</option>
                        <option value=120 <% 767 120 selected %>>TELEKOM SA</option>
						<option value=121 <% 767 121 selected %>>Vonage</option>
                        <option value=122 <% 767 122 selected %>>Metaswitch</option>
                    </select>
                  </td>
              </tr>

              <tr>
                <td align=right><i>会话生命周期(Session-Timer): </i></td>
                <td>&nbsp; <input type=text name="P434" value="<% 434 %>" maxlength=5 size=7>
                  (以秒为单位，默认180秒)</td>
              </tr>

              <tr>
                <td align=right><i>Min-SE: </i></td>
                <td>&nbsp; <input type=text name="P427" value="<% 427 %>" maxlength=5 size=7>
                  (以秒为单位，最小为90秒)</td>
              </tr>

              <tr>
                <td align=right><i>主叫请求Session-Timer: </i></td>
                <td>&nbsp; <input type=radio name="P428" value=0 <% 428 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P428" value=1 <% 428 1 checked %> >
                  Yes (以主叫模式发送Session-Timer)</td>
              </tr>

              <tr>
                <td align=right><i>被叫请求Session-Timer: </i></td>
                <td>&nbsp; <input type=radio name="P429" value=0 <% 429 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P429" value=1 <% 429 1 checked %> >
                  Yes (以被叫模式回应Session-Timer)</td>
              </tr>

              <tr>
                <td align=right><i>强制Session-Timer: </i></td>
                <td>&nbsp; <input type=radio name="P430" value=0 <% 430 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P430" value=1 <% 430 1 checked %> >
                  Yes (即使远程方不支持也启用Session-Timer)</td>
              </tr>

              <tr>
                <td align=right><i>UAC指定更新: </i></td>
                <td>&nbsp; <input type=radio name="P432" value=1 <% 432 1 checked %> >
                  UAC &nbsp; <input type=radio name="P432" value=2 <% 432 2 checked %> >
                  UAS &nbsp; &nbsp; <input type=radio name="P432" value=0 <% 432 0 checked %> >
                  Omit (推荐)</td>
               </tr>

              <tr>
                <td align=right><i>UAS指定更新: </i></td>
                <td>&nbsp; <input type=radio name="P433" value=1 <% 433 1 checked %> >
                  UAC &nbsp; <input type=radio name="P433" value=2 <% 433 2 checked %> >
                  UAS (当UAC没有指定更新标记)</td>
               </tr>

              <tr>
                <td align=right><i>强制INVITE: </i></td>
                <td>&nbsp; <input type=radio name="P431" value=0 <% 431 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P431" value=1 <% 431 1 checked %> >
                  Yes (强制发送INVITE而不是UPDATE)</td>
              </tr>

<!--
              <tr>
                <td align=right><i>传真结束后发送Re-INVITE: </i></td>
                <td>&nbsp; <input type=radio name="P4368" value=0 <% 4368 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P4368" value=1 <% 4368 1 checked %> >
                  Yes </td>
              </tr>
-->

              <tr>
                <td align=right><i>开启 100rel: </i></td>
                <td>&nbsp; <input type=radio name="P435" value=0 <% 435 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P435" value=1 <% 435 1 checked %> >
                  Yes </td>
              </tr>

              <tr>
                <td align=right><i>在初始注册消息中包含Auth Header: </i></td>
                <td>&nbsp; <input type=radio name="P2459" value=0 <% 2459 0 checked %> >
                  No &nbsp; &nbsp; <input type=radio name="P2459" value=1 <% 2459 1 checked %> >
                  Yes </td>
              </tr>

              <tr>
                <td colspan=2>&nbsp;</td>
              </tr>

              <tr>
                <td align=right><i>使用第一个匹配的语音编码(在 200OK SDP 中): </i></td>
                <td>&nbsp; <input type=radio name="P4364" value=0 <% 4364 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4364" value=1 <% 4364 1 checked %>>
                  Yes </td>
              </tr>

              <tr>
                <td align=right valign=top><i>优先的语音编码: </i><br>
                  <i>(下拉菜单中)</i></td>
                <td>&nbsp;&nbsp;第1: &nbsp; <select name="P757">
                    <option value=0  <% 757 0  selected %>>PCMU</option>
                    <option value=8  <% 757 8  selected %>>PCMA</option>
                    <option value=4  <% 757 4  selected %>>G723</option>
                    <option value=18 <% 757 18 selected %>>G729</option>
                    <option value=2  <% 757 2  selected %>>G726-32</option>
                    <option value=98 <% 757 98 selected %>>iLBC</option>
                  </select> <br> &nbsp;&nbsp;第2: &nbsp; <select name="P758">
                    <option value=0  <% 758 0  selected %>>PCMU</option>
                    <option value=8  <% 758 8  selected %>>PCMA</option>
                    <option value=4  <% 758 4  selected %>>G723</option>
                    <option value=18 <% 758 18 selected %>>G729</option>
                    <option value=2  <% 758 2  selected %>>G726-32</option>
                    <option value=98 <% 758 98 selected %>>iLBC</option>
                  </select> <br> &nbsp;&nbsp;第3: &nbsp; <select name="P759">
                    <option value=0  <% 759 0  selected %>>PCMU</option>
                    <option value=8  <% 759 8  selected %>>PCMA</option>
                    <option value=4  <% 759 4  selected %>>G723</option>
                    <option value=18 <% 759 18 selected %>>G729</option>
                    <option value=2  <% 759 2  selected %>>G726-32</option>
                    <option value=98 <% 759 98 selected %>>iLBC</option>
                  </select> <br> &nbsp;&nbsp;第4: &nbsp; <select name="P760">
                    <option value=0  <% 760 0  selected %>>PCMU</option>
                    <option value=8  <% 760 8  selected %>>PCMA</option>
                    <option value=4  <% 760 4  selected %>>G723</option>
                    <option value=18 <% 760 18 selected %>>G729</option>
                    <option value=2  <% 760 2  selected %>>G726-32</option>
                    <option value=98 <% 760 98 selected %>>iLBC</option>
                  </select> <br> &nbsp;&nbsp;第5: &nbsp; <select name="P761">
                    <option value=0  <% 761 0  selected %>>PCMU</option>
                    <option value=8  <% 761 8  selected %>>PCMA</option>
                    <option value=4  <% 761 4  selected %>>G723</option>
                    <option value=18 <% 761 18 selected %>>G729</option>
                    <option value=2  <% 761 2  selected %>>G726-32</option>
                    <option value=98 <% 761 98 selected %>>iLBC</option>
                  </select> <br> &nbsp;&nbsp;第6: &nbsp; <select name="P762">
                    <option value=0  <% 762 0  selected %>>PCMU</option>
                    <option value=8  <% 762 8  selected %>>PCMA</option>
                    <option value=4  <% 762 4  selected %>>G723</option>
                    <option value=18 <% 762 18 selected %>>G729</option>
                    <option value=2  <% 762 2  selected %>>G726-32</option>
                    <option value=98 <% 762 98 selected %>>iLBC</option>
                  </select>
              </tr>
              <tr>
                <td align=right><i>语音帧数/传输: </i></td>
                <td>&nbsp; <input type=text name="P737" value="<% 737 %>" maxlength=3 size=7>
                </td>
              </tr>
              <tr>
                <td align=right><i>G723 速率: </i></td>
                <td>&nbsp; <input type=radio name="P749" value=0 <% 749 0 checked %> >
                  6.3kbps 编码速率 &nbsp; &nbsp; &nbsp; <input type=radio name="P749" value=1 <% 749 1 checked %> >
                  5.3kbps 编码速率 </td>
              </tr>
              <tr>
                <td align=right><i>iLBC语音编码帧字节的大小: </i></td>
                <td>&nbsp; <input type=radio name="P705" value=0 <% 705 0 checked %> >
                  20毫秒 &nbsp; &nbsp; &nbsp; <input type=radio name="P705" value=1 <% 705 1 checked %> >
                  30毫秒 </td>
              </tr>
              <tr>
                <td align=right><i>iLBC 有效载荷类型: </i></td>
                <td>&nbsp; <input type=text name="P704" value="<% 704  %>" maxlength=5 size=7>
                  (在96到127之间, 默认97)</td>
              </tr>
              <tr>
                <td align=right><i>VAD: </i></td>
                <td>&nbsp; <input type=radio name="P750" value=0 <% 750 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P750" value=1 <% 750 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>对称RTP: </i></td>
                <td>&nbsp; <input type=radio name="P460" value=0 <% 460 0 checked %> >
                  No &nbsp; &nbsp; &nbsp; <input type=radio name="P460" value=1 <% 460 1 checked %> >
                  Yes </td>
              </tr>
              <tr>
                <td align=right valign=top><i>传真模式: </i></td>
                <td>&nbsp; <input type=radio name="P710" value=0 <% 710 0 checked %> >
                  T.38 (自动检测)
                  &nbsp; <input type=radio name="P710" value=1 <% 710 1 checked %> >
                  透传
                </td>
              </tr>
              <tr>
                <td align=right><i>传真振铃检测后发送Re-INVITE: </i></td>
                <td>&nbsp; <input type=radio name="P4417" value=1 <% 4417 1 checked %> >
                  开启 &nbsp; <input type=radio name="P4417" value=0 <% 4417 0 checked %> >
                  关闭</td>
              </tr>
              <tr>
                <td align=right valign=top><i>抖动缓冲类型: </i></td>
                <td>&nbsp; <input type=radio name="P831" value=0 <% 831 0 checked %> > 固定
                  &nbsp; <input type=radio name="P831" value=1 <% 831 1 checked %> > 自适应
                </td>
              </tr>
              <tr>
                <td align=right valign=top><i>抖动缓冲长度: </i></td>
                <td>&nbsp; <input type=radio name="P832" value=0 <% 832 0 checked %> > 低
                  &nbsp; <input type=radio name="P832" value=1 <% 832 1 checked %> > 中
                  &nbsp; <input type=radio name="P832" value=2 <% 832 2 checked %> > 高
                </td>
              </tr>

              <tr>
                <td align=right valign=top><i>SRTP模式: </i></td>
                <td>&nbsp; <input type=radio name="P443" value=0 <% 443 0 checked %> >
                  关闭 &nbsp; &nbsp; <input type=radio name="P443" value=1 <% 443 1 checked %> >
                  激活但不强制 &nbsp; <input type=radio name="P443" value=2 <% 443 2 checked %> >
                  强制激活 </td>
              </tr>

              <tr>
                <td colspan=2>&nbsp;</td>
              </tr>

              <tr>
                <td align=right valign=top><i>SLIC设置: </i></td>
                <td>&nbsp;
                    <select name="P864">
                        <option value=0 <% 864 0 selected %>>美国 1 (贝尔标准 600 ohms)</option>
                        <option value=3 <% 864 3 selected %>>美国 2 (贝尔标准 600 ohms + 2.16uF)</option>
                        <option value=11 <% 864 11 selected %>>澳大利亚</option>
                        <option value=5 <% 864 5 selected %>>中国 (中心局端)</option>
                        <option value=6 <% 864 6 selected %>>中国 (交换机端)</option>
                        <option value=4 <% 864 4 selected %>>欧洲标准CTR21</option>
                        <option value=9 <% 864 9 selected %>>德国</option>
                        <option value=8 <% 864 8 selected %>>印度/新西兰</option>
                        <option value=2 <% 864 2 selected %>>日本 (中心局端)</option>
                        <option value=7 <% 864 7 selected %>>日本 (交换机端)</option>
                        <option value=1 <% 864 1 selected %>>标准 900 ohms</option>
                        <option value=10 <% 864 10 selected %>>英国</option>
                    </select>
                </td>
              </tr>
              <tr>
                  <td align=right valign=top><i>来电显示机制: </i></td>
                  <td>&nbsp;
                    <select name="P863">
                        <option value=0 <% 863 0 selected %>>Bellcore/Telcordia</option>
                        <option value=1 <% 863 1 selected %>>ETSI-FSK during ringing</option>
                        <option value=2 <% 863 2 selected %>>ETSI-FSK prior to ringing with DTAS</option>
                        <option value=3 <% 863 3 selected %>>ETSI-FSK prior to ringing with LR+DTAS</option>
                        <option value=4 <% 863 4 selected %>>ETSI-FSK prior to ringing with RP</option>
                        <option value=5 <% 863 5 selected %>>ETSI-DTMF during ringing</option>
                        <option value=6 <% 863 6 selected %>>ETSI-DTMF prior to ringing with DTAS</option>
                        <option value=7 <% 863 7 selected %>>ETSI-DTMF prior to ringing with LR+DTAS</option>
                        <option value=8 <% 863 8 selected %>>ETSI-DTMF prior to ringing with RP</option>
                        <option value=9 <% 863 9 selected %>>SIN 227 - BT</option>
                        <option value=10 <% 863 10 selected %>>NTT Japan</option>
                        <option value=11 <% 863 11 selected %>>DTMF Denmark prior to ringing no DTAS no LR</option>
                        <option value=12 <% 863 12 selected %>>DTMF Denmark prior to ringing with LR</option>
                        <option value=13 <% 863 13 selected %>>DTMF Sweden/Finalnd prior to ringing with LR</option>
						<option value=14 <% 863 14 selected %>>DTMF Brazil</option>
                    </select>
                </td>
              </tr>
              
              <tr>
                 <td align=right><i>DTMF来电显示:</i></td>
                 <td>&nbsp;
                   <i>起始音</i>
                   <select name="P4663">
                     <option value=0 <% 4663 0 selected %>>Default</option>
                     <option value=1 <% 4663 1 selected %>>A</option>
                     <option value=2 <% 4663 2 selected %>>B</option>
                     <option value=3 <% 4663 3 selected %>>C</option>
                     <option value=4 <% 4663 4 selected %>>D</option>
                     <option value=5 <% 4663 5 selected %>>#</option>
                   </select>&nbsp;&nbsp;
                   <i>结束音</i>
                   <select name="P4664">
                     <option value=0 <% 4664 0 selected %>>Default</option>
                     <option value=1 <% 4664 1 selected %>>A</option>
                     <option value=2 <% 4664 2 selected %>>B</option>
                     <option value=3 <% 4664 3 selected %>>C</option>
                     <option value=4 <% 4664 4 selected %>>D</option>
                     <option value=5 <% 4664 5 selected %>>#</option>
                   </select>
                 </td>
              </tr>

              <tr>
                <td align=right><i>极性转换:</i></td>
                <td>&nbsp; <input type=radio name="P865" value=0 <% 865 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P865" value=1 <% 865 1 checked %>>
                  Yes &nbsp; (基于呼叫建立和结束的极性转换)
                </td>
              </tr>
              <tr>
                <td align=right><i>回路电流拆线:</i></td>
                <td>&nbsp; <input type=radio name="P893" value=0 <% 893 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P893" value=1 <% 893 1 checked %>>
                  Yes &nbsp; (呼叫结束后回路电流拆线)
                </td>
              </tr>
              <tr>
                <td align=right><i>回路电流拆线时间:</i></td>
                <td>&nbsp; <input type=text name="P857" value="<% 857 %>" maxlength=5 size=6 > (在100-10000毫秒范围内, 默认200)
                </td>
              </tr>
              <tr>
                <td align=right><i>开启瞬间挂断:</i></td>
                <td>&nbsp; <input type=radio name="P4425" value=0 <% 4425 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4425" value=1 <% 4425 1 checked %>>
                  Yes &nbsp;
                </td>
              </tr>
              <tr>
              <tr>
                <td align=right><i>瞬间挂断时间: </i></td>
                <td>
                &nbsp; 在40-2000毫秒范转，最小值为: <input type=text name="P811" value="<% 811 %>" maxlength=4 size=6 >
                &nbsp; 最大值为: <input type=text name="P812" value="<% 812 %>" maxlength=4 size=6 >
                </td>
              </tr>
              <tr>
                <td align=right><i>摘机间隔时间:</i></td>
                <td>&nbsp; <input type=text name="P834" value="<% 834 %>" maxlength=5 size=6 > (在40-2000毫秒范围内, 默认400)
                </td>
              </tr>
              <tr>
                 <td align=right><i>增益:</i></td>
                 <td>&nbsp;
                   <i>TX</i>
                   <select name="P248">
                     <option value=1 <% 248 1 selected %>>+6dB</option>
                     <option value=2 <% 248 2 selected %>>+4dB</option>
                     <option value=3 <% 248 3 selected %>>+2dB</option>
                     <option value=0 <% 248 0 selected %>>0dB default</option>
                     <option value=4 <% 248 4 selected %>>-2dB</option>
                     <option value=5 <% 248 5 selected %>>-4dB</option>
                     <option value=6 <% 248 6 selected %>>-6dB</option>
                     <option value=7 <% 248 7 selected %>>-8dB</option>
                     <option value=8 <% 248 8 selected %>>-10dB</option>
                     <option value=9 <% 248 9 selected %>>-12dB</option>
                   </select>&nbsp;
                   <i>RX</i>
                   <select name="P283">
                     <option value=1 <% 283 1 selected %>>+6dB</option>
                     <option value=2 <% 283 2 selected %>>+4dB</option>
                     <option value=3 <% 283 3 selected %>>+2dB</option>
                     <option value=0 <% 283 0 selected %>>0dB</option>
                     <option value=4 <% 283 4 selected %>>-2dB</option>
                     <option value=5 <% 283 5 selected %>>-4dB</option>
                     <option value=6 <% 283 6 selected %>>-6dB default</option>
                     <option value=7 <% 283 7 selected %>>-8dB</option>
                     <option value=8 <% 283 8 selected %>>-10dB</option>
                     <option value=9 <% 283 9 selected %>>-12dB</option>
                   </select>
                 </td>
              </tr>
              <tr>
                <td align=right><i>关闭线路回声消除 (LEC): </i></td>
                <td>&nbsp; <input type=radio name="P825" value=0 <% 825 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P825" value=1 <% 825 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>关闭网络回声抑制: </i></td>
                <td>&nbsp; <input type=radio name="P4442" value=0 <% 4442 0 checked %>>
                  No &nbsp;&nbsp; &nbsp; <input type=radio name="P4442" value=1 <% 4442 1 checked %>>
                  Yes </td>
              </tr>
              <tr>
                <td align=right><i>振铃频率: </i></td>
                <td>&nbsp; <input type=text name="P4430" value="<% 4430 %>" maxlength=2 size=7>
                  (15-60 Hz, 缺省为20 Hz )</td>
              </tr>

              <tr>
                 <td colspan=2>&nbsp;</td>
              </tr>

              <tr>
                 <td align=right><b>振铃铃音</b></td>
                 <td>(语法: c=on1/off1-on2/off2-on3/off3;)</td>
              </tr>

              <tr>
                      <td align="right"><i>振铃铃音 1:</i></td>
                      <td>&nbsp; <input type=text name="P4030" value="<% 4030                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
              </tr>
              <tr>
                      <td align="right"><i>振铃铃音 2:</i></td>
                      <td>&nbsp; <input type=text name="P4031" value="<% 4031                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
              </tr>
              <tr>
                      <td align="right"><i>振铃铃音 3:</i></td>
                      <td>&nbsp; <input type=text name="P4032" value="<% 4032                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 4:</i></td>
                      <td>&nbsp; <input type=text name="P4033" value="<% 4033                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 5:</i></td>
                      <td>&nbsp; <input type=text name="P4034" value="<% 4034                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 6:</i></td>
                      <td>&nbsp; <input type=text name="P4035" value="<% 4035                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 7:</i></td>
                      <td>&nbsp; <input type=text name="P4036" value="<% 4036                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 8:</i></td>
                      <td>&nbsp; <input type=text name="P4037" value="<% 4037                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 9:</i></td>
                      <td>&nbsp; <input type=text name="P4038" value="<% 4038                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>
               <tr>
                      <td align="right"><i>振铃铃音 10:</i></td>
                      <td>&nbsp; <input type=text name="P4039" value="<% 4039                                                                                                                                                                                                                                                           %>" maxlength=256 size=50></td>
               </tr>


              <tr height=28 bgcolor="#F3C47C" align=center>
                <td colspan=2> <input type="submit" name="update" value="保存">
                  &nbsp;&nbsp; <input type="submit" name="apply" value="生效">
                  &nbsp;&nbsp; <input type="button" name="cancel" value="取消" onClick="document.location='login'">
                  &nbsp;&nbsp; <input type="button" name="reboot" value="重启" onClick="document.location='rs'">
                  <input name="gnkey" type=hidden value=0b82> </td>
              </tr>
            </table></td>
        </tr>
<tr><td bgcolor="#336699" align="center" class="l"><font size="1">版权所有 潮流网络 2006-2014</font></td></tr>
</table></td></tr></table>
</form></body></html>
