<html>
<head>
<title>Grandstream Device Configuration</title>
<style type="text/css">
<!--
.l{  font-family: Tahoma; font-size: 10pt; color: #000000; }
a.l:Hover{  font-family: Tahoma; font-size: 10pt; color: #ffffff; }
-->
</style></head>
<body bgcolor="#CCCCCC">
<form name=basic_form action="update" method="post" autocomplete="off">
<table width="870" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699">
<tr><td valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="48" valign="middle" bgcolor="#F3C47C" class="l" align="center"><strong><font color="#336699" size="3"><b>Grandstream Device Configuration</b></font></strong></td>
</tr><tr><td height="20" valign="top" background="/backline.gif" bgcolor="#F3C47C" align="center">
<table width="60%" cellpadding="0" cellspacing="0"><tr>
<td height="16" bgcolor="#999999" align="center"><a href="index" class="l"><b>STATUS</b></a></td>
<td bgcolor="#336699" align="center" class="l"><b>BASIC SETTINGS</b></td>
<td bgcolor="#999999" align="center"><a href="config" class="l"><b>ADVANCED SETTINGS</b></a></td>
<td bgcolor="#999999" align="center"><a href="config_a1" class="l"><b>FXS PORT1</b></a></td>
<td bgcolor="#999999" align="center"><a href="config_a2" class="l"><b>FXS PORT2</b></a></td>
                </tr>
              </table>
            </td>
        </tr>
<!-- <% web_update 0 --> %> 
		<tr bgcolor="#FFFFCC">
		 <td align=center><hr color="#000000" noshade><b><p style="color:#ff0000">Configuration changed. Click Apply to save settings.</p></b><hr color="#000000" noshade></td> 
		</tr>
<% web_update 0 <!-- %> -->
        <tr bgcolor="#FFFFCC">
          <td align=right valign=top> <table  align="top" width=100% border=0 cellspacing=1 cellpadding=2>
              <tr>
                <td align=right><b>End User Password: </b></td>
                <td>&nbsp; <input type="password" name="P196" maxlength=30 size=30 autocomplete="new-password" readonly onfocus="javascript:this.removeAttribute('readonly');this.select();">
                  (purposely not displayed for security protection) </td>
              </tr>
              <tr>
                <td align=right><b>Web Port: </b></td>
                <td>&nbsp; <input type=text name="P901" value="<% 901 %>" maxlength=5 size=7>
                  (default for HTTP is 80) </td>
              </tr>
              <tr>
                <td align=right valign=top><b>IP Address: </b></td>
                <td>
                 <table width="95%" border=0 cellspacing=1 cellpadding=1>
                  <tr>
                   <td>
                    <table width="100%" border=0 cellspacing=1 cellpadding=1>
                     <tr>
                      <td><input TYPE="radio" NAME="P8" VALUE=0 <% 8 0 checked %>>
                              dynamically assigned via DHCP
                              <br>
                       <table width="100%">
                        <tr>
                         <td width="6%">&nbsp;</td>
                         <td width="27%">DHCP hostname:</td>
                         <td colspan=3><input type=text name="P146" value="<% 146                                                         %>" maxlength=32 size=30> (optional)</td>
                        </tr>
                        <tr>
                         <td>&nbsp;</td>
                         <td>DHCP vendor class ID:</td>
                         <td><input type=text name="P148" value="<% 148                                                         %>" maxlength=32 size=30> (optional)</td>
                        </tr>
                       </table>
                      </td>
                     </tr>
<!-- <% web_staticip_validation_error 0 --> %> 
		<tr bgcolor="#FFFFCC">
		 <td align=center><hr color="#000000" noshade><b><p style="color:#ff0000">IP Address conflict detected. Please change IP address settings.</p></b><hr color="#000000" noshade></td> 
		</tr>
<% web_staticip_validation_error 0 <!-- %> -->
                     <tr>
                      <td><input TYPE="radio" NAME="P8" VALUE=1 <% 8 1 checked %>>
                              statically configured as: <br>
                       <table width="100%">
                        <tr>
                         <td width="6%">&nbsp;</td>
                         <td width="27%">IP Address: </td>
                         <td><input type=text name="P9"  value="<% 9  %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P10" value="<% 10 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P11" value="<% 11 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P12" value="<% 12 %>" maxlength=3 size=3>
                         </td>
                        </tr>
                        <tr>
                         <td>&nbsp;</td>
                         <td>Subnet Mask: </td>
                         <td><input type=text name="P13" value="<% 13 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P14" value="<% 14 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P15" value="<% 15 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P16" value="<% 16 %>" maxlength=3 size=3>
                         </td>
                        </tr>
                        <tr>
                         <td>&nbsp;</td>
                         <td>Default Router: </td>
                         <td><input type=text name="P17" value="<% 17 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P18" value="<% 18 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P19" value="<% 19 %>" maxlength=3 size=3>
                              <b>.</b><input type=text name="P20" value="<% 20 %>" maxlength=3 size=3>
                         </td>
                        </tr>
                       </table>
                      </td>
                     </tr>
                    </table>
                   </td>
                 </tr>
                </table>
               </td>
              </tr>
              <tr>
                <td align=right valign=top><b>Time Zone: </b></td>
                <td>&nbsp; <select name="P64">
                    <option value=TZA+12 <% 64 TZA+12 selected %>>GMT-12:00 (International Date Line West)</option>
                    <option value=TZB+11 <% 64 TZB+11 selected %>>GMT-11:00 (Midway Island, Samoa)</option>
                    <option value=TZC+10 <% 64 TZC+10 selected %>>GMT-10:00 (US Hawaiian Time)</option>
                    <option value=TZD+9  <% 64 TZD+9  selected %>>GMT-9:00 (US Alaska Time)</option>
                    <option value=TZE+8  <% 64 TZE+8  selected %>>GMT-8:00 (US Pacific Time, Los Angeles)</option>
                    <option value=TZF+7  <% 64 TZF+7  selected %>>GMT-7:00 (US Mountain Time, Denver)</option>
                    <option value=TZG+6  <% 64 TZG+6  selected %>>GMT-6:00 (US Central Time, Chicago)</option>
                    <option value=TZH+5  <% 64 TZH+5  selected %>>GMT-5:00 (US Eastern Time, New York)</option>
                    <option value=TZf+4:30 <% 64 TZf+4:30 selected %>>GMT-4:30 (Caracas)</option>
                    <option value=TZI+4  <% 64 TZI+4  selected %>>GMT-4:00 (Atlantic Time, Quebec)</option>
                    <option value=TZJ+3:30  <% 64 TZJ+3:30  selected %>>GMT-3:30 (Newfoundland)</option>
                    <option value=TZK+3  <% 64 TZK+3  selected %>>GMT-3:00 (Greenland)</option>
                    <option value=TZL+2  <% 64 TZL+2  selected %>>GMT-2:00 (Mid-Atlantic)</option>
                    <option value=TZM+1  <% 64 TZM+1  selected %>>GMT-1:00 (Azores, Cape Verdi Is.)</option>
                    <option value=TZN+0  <% 64 TZN+0  selected %>>GMT (London, Dublin, Edinburgh, Lisbon, Casablanca, Monrovia)</option>
                    <option value=TZO-1  <% 64 TZO-1  selected %>>GMT+1:00 (Paris, Amsterdam, Berlin, Rome, Vienna, Madrid, Warsaw, Brussels)</option>
                    <option value=TZP-2  <% 64 TZP-2  selected %>>GMT+2:00 (Israel, Cairo, Athens, Helsinki, Istanbul, Buchrest)</option>
                    <option value=TZQ-3  <% 64 TZQ-3  selected %>>GMT+3:00 (Moscow, Kuwait, Baghdad, Tehran, Nairobi)</option>
                    <option value=TZR-4  <% 64 TZR-4  selected %>>GMT+4:00 (Abu Dhabi, Baku)</option>
                    <option value=TZS-5  <% 64 TZS-5  selected %>>GMT+5:00 (Islamabad, Ekaterinburg, Karachi, Tashkent)</option>
                    <option value=TZT-5:30 <% 64 TZT-5:30 selected %>>GMT+5:30 (Chennai, New Delhi, Mumbai)</option>
                    <option value=TZU-5:45 <% 64 TZU-5:45 selected %>>GMT+5:45 (Kathmandu)</option>
                    <option value=TZV-6  <% 64 TZV-6 selected %>>GMT+6:00 (Almaty, Astana, Dhaka, Novosibirsk)</option>
                    <option value=TZW-6:30 <% 64 TZW-6:30 selected %>>GMT+6:30 (Rangoon)</option>
                    <option value=TZX-7  <% 64 TZX-7 selected %>>GMT+7:00 (Bankok, Jakarta, Hanoi, Krasnoyarsk)</option>
                    <option value=TZY-8  <% 64 TZY-8 selected %>>GMT+8:00 (Beijing, Singapore, Taipei, Kuala Lumpur, Irkutsk, Perth)</option>
                    <option value=TZZ-9  <% 64 TZZ-9 selected %>>GMT+9:00 (Japan, Korea, Yakutsk)</option>
                    <option value=TZa-9:30 <% 64 TZa-9:30 selected %>>GMT+9:30 (Adelaide, Darwin)</option>
                    <option value=TZb-10 <% 64 TZb-10 selected %>>GMT+10:00 (Brisbane, Sydney, Melbourne, Canberra, Guam, Hobart)</option>
                    <option value=TZc-11 <% 64 TZc-11 selected %>>GMT+11:00 (Magadan, Solomon Is., New Caledonia)</option>
                    <option value=NZST-12NZDT-13,M9.5.0/02:00:00,M4.1.0/03:00:00 <% 64 NZST-12NZDT-13,M9.5.0/02:00:00,M4.1.0/03:00:00 selected %>>GMT+12:00 (Auckland, Wellington)</option>
                    <option value=TZd-12 <% 64 TZd-12 selected %>>GMT+12:00 (Fiji)</option>
                    <option value=TZe-13 <% 64 TZe-13 selected %>>GMT+13:00 (Nuku'alofa)</option>
                    <option value=customize <% 64 customize selected %>>Using self-defined Time Zone</option>
                  </select> </td>
              </tr>
              <tr>
                <td align=right><i>Self-Defined Time Zone:</i></td>
                <td>&nbsp;
                  <input type=text name="P246" value="<% 246                              %>" maxlength=100 size=33>
                  (For example: MTZ+6MDT+5,M4.1.0,M11.1.0) </td>
              </tr>
              <tr>
                <td align=right valign=top><i>Allow DHCP server to set Time Zone:</i></td>
				<td>&nbsp; <input type=radio name="P143" value=0 <% 143 0 checked %>>
				No &nbsp;&nbsp; &nbsp; <input type=radio name="P143" value=1 <% 143 1 checked %>>
				Yes &nbsp;</td>
              </tr>
              <tr>
                <td align=right valign=top><b>Language: </b></td>
                <td>&nbsp; <select name="P342">
                    <option value=0 <% 342 0 selected %>>English</option>
                    <option value=5 <% 342 5 selected %>>Portuguese</option>
                    <option value=10 <% 342 10 selected %>>Spanish IVR</option>
                  </select>
                </td>
              </tr>
              <tr>
<!-- <% session_user user --> %> 
<% 88 1 <!-- %> 
                <td align=right valign=top><b>Reset ISP Data : </b></td>
                <td> 
				 <table>
                  <tr>
                   <td><input type="button" name="reset_unit" value="Reset" onClick="document.location='unit_reset?reset_type=1'"></td>
                  </tr>
				 </table>
				</td>
<% 88 1 --> %>  
<% session_user user <!-- %> --> 
<!-- <% session_user admin --> %> 
                <td align=right valign=top><b>Reset Type: </b></td>
                <td> <table>
				       <tr><td><select name="reset_type">
                                <option value=1 selected >ISP Data Reset</option>
                                <option value=2 >VOIP Data Reset</option>
                                <option value=0 >Full Reset</option>
                                </select>
                           </td>
                           <td><input type="button" name="reset_unit" value="Reset" onClick="document.location='unit_reset?reset_type='+document.basic_form.reset_type.value"></td>
                       </tr>
					 </table>
				</td>
<% session_user admin <!-- %> --> 
			  </tr>
              <tr>
              </tr>
              <tr>
                <td colspan=2>&nbsp;</td>
              </tr>
              <tr height=28 bgcolor="#F3C47C" align=center>
                <td colspan=2> <input type="submit" name="update" value="Update">
                  &nbsp;&nbsp; <input type="submit" name="apply" value="Apply">
                  &nbsp;&nbsp; <input type="button" name="cancel" value="Cancel" onClick="document.location='login'">
                  &nbsp;&nbsp; <input type="button" name="reboot" value="Reboot" onClick="document.location='rs'">
                  <input name="gnkey" type=hidden value=0b82> </td>
              </tr>
</table></td>
</tr>
<tr><td bgcolor="#336699" align="center" class="l"><font size="1">All Rights Reserved Grandstream Networks, Inc. 2006-2015</font></td></tr></table></td>
</tr></table>
</form></body></html>
