<html>
<head>
<title>Grandstream Device Configuration</title>
<style type="text/css">
<!--
.l{  font-family: Tahoma; font-size: 10pt; color: #000000; }
a.l:Hover{  font-family: Tahoma; font-size: 10pt; color: #ffffff; }
-->
</style></head><body bgcolor="#CCCCCC">
<table width="870" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699">
<tr><td valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="48" valign="middle" bgcolor="#F3C47C" class="l" align="center"><strong><font color="#336699" size="3"><b>Grandstream Device Configuration</b></font></strong></td>
</tr><tr><td height="20" valign="top" background="/backline.gif" bgcolor="#F3C47C" align="center"> 
<table width="60%" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#336699" align="center" class="l"><b>STATUS</b></td>
<td bgcolor="#999999" align="center"><a href="config2" class="l"><b>BASIC SETTINGS</b></a></td>
<td bgcolor="#999999" align="center"><a href="config" class="l"><b>ADVANCED SETTINGS</b></a></td>
<td bgcolor="#999999" align="center"><a href="config_a1" class="l"><b>FXS PORT1 </b></a></td>
<td bgcolor="#999999" align="center"><a href="config_a2" class="l"><b>FXS PORT2 </b></a></td>
</tr></table></td></tr><tr bgcolor="#FFFFCC">
<td> <table width="100%" border=0 cellspacing=1 cellpadding=2>
              <tr> 
                <td align=right><b>MAC Address: </b></td>
                <td>&nbsp; 
                  <% 67              %>
                  </td>
              </tr>
              <tr> 
                <td align=right><b>WAN IP Address: </b></td>
                <td>&nbsp; 
                  <% 121        %>
                   </td>
              </tr>
              <tr> 
                <td align=right><b>Product Model: </b></td>
                <td>&nbsp; 
                  <% 89            %>
                  </td>
              </tr>
              <tr> 
                <td align=right><b>Software Version: </b></td>
                <td>&nbsp; Program-- 
                  <% 68     %>
                   &nbsp;&nbsp;&nbsp;Bootloader-- 
                  <% 69     %>
                   &nbsp;&nbsp;&nbsp;Core-- 
                  <% 70     %>
                   &nbsp;&nbsp;&nbsp;Base-- 
                  <% 45     %>
                  </td>
              </tr>
              <tr> 
                <td align=right><b>System Up Time: </b></td>
                <td>&nbsp; 
		  <% 199                                      %>
                  </td>
              </tr>
              <tr> 
                <td align=right><b>PPPoE Link Up: </b></td>
                <td>&nbsp; 
		  <% 211  %>
                  </td>
              </tr>
			  <tr> 
				  <td align=right><b>NAT: </b></td>
				  <td>&nbsp; 
		   <% 80                    %>
				  </td>
			  </tr>
              <tr>
                <td align=right valign=top><b>Port Status: </b></td>
                <td>
                  <table border=1>
                    <tr>
                      <td>Port</td>
                      <td>Hook</td>
                      <td>Registration</td>
                      <td>DND</td>
                      <td>&nbsp;Forward</td>
                      <td>&nbsp;Busy Forward</td>
                      <td>&nbsp;Delayed Forward</td>
                    </tr>
                    <tr>
                      <td>FXS 1</td>
                      <td><b><% 4901                       %></b></td>
                      <td><b><% 4921                       %></b></td>
                      <td><% dnd_0 0 No  %><% dnd_0 1 Yes  %></td>
                      <td>&nbsp;<% forward_0                  %></td>
                      <td>&nbsp;<% busyForward_0              %></td>
                      <td>&nbsp;<% delayedForward_0           %></td>
                    </tr>
                    <tr>
                      <td>FXS 2</td>
                      <td><b><% 4902                       %></b></td>
                      <td><b><% 4922                       %></b></td>
                      <td><% dnd_1 0 No  %><% dnd_1 1 Yes  %></td>
                      <td>&nbsp;<% forward_1                  %></td>
                      <td>&nbsp;<% busyForward_1              %></td>
                      <td>&nbsp;<% delayedForward_1           %></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
<td bgcolor="#336699" align="center" class="l"><font size="1">All Rights Reserved Grandstream Networks, Inc. 2006-2014</font></td>
</tr></table></td></tr></table>
</body></html>
